<h4 class="text-center mt-4">Registre-se e mostre seu pet ao mundo</h4>

<!--O formGroup precisa que importe o ReactiveFormsModule-->
<form class="form mt-4" [formGroup]="newUserForm" (submit)="register()">
  <div class="form-group">
    <input placeholder="E-mail" class="form-control" formControlName="email" />
    <app-menssage
      class='ml-2'
      menssage="Email Obrigatório"
      *ngIf="newUserForm.get('email')?.errors?.required && newUserForm.get('email')?.touched"
    ></app-menssage>
    <app-menssage
      class='ml-2'
      menssage="Email Inválido"
      *ngIf="newUserForm.get('email')?.errors?.email && newUserForm.get('email')?.touched"
    ></app-menssage>
  </div>
  <div class="form-group">
    <input
      placeholder="Nome Completo"
      class="form-control"
      formControlName="fullName"
    />
  </div>
  <div class="form-group">
    <input
      placeholder="Usuário"
      class="form-control"
      formControlName="userName"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      placeholder="Senha"
      class="form-control"
      formControlName="password"
    />
  </div>

  <button class="btn btn-primary btn-block">Cadastrar</button>
</form>

<p>Ja é um Usuário? <a [routerLink]="['']">Entrar</a></p>
